# Ignorar o ambiente virtual (Correto)
venv/

# Ignorar arquivos de checkpoint do Jupyter (Lixo gerado automaticamente)
.ipynb_checkpoints/

# Ignorar arquivos compilados do Python (Lixo)
__pycache__/

BID001_DchConst005_29072024.txt
filter.ipynb
kallman_battery.ipynb
README.md
requirements.txt
simple_filter.ipynb
